@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--keyboard-active-color: theme("colors.gray.300");
		scroll-behavior: smooth;
		scrollbar-gutter: stable;
		/*
	    CanIuse: https://caniuse.com/?search=target-text
			&:target-text {
				@apply text-white bg-black
			}
		*/
	}
}


@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
