
:root {
	--font-color-inactive: theme(textColor.gray.500/0.8);
	--font-color-active: theme(textColor.base-content);
	--font-color-error: theme(textColor.rose.500);
	--header-height: 64px;
}

[data-theme="dark"] {
	--font-color-inactive: theme(textColor.gray.600);
}

@media screen(lg) {
	:root {
		--header-height: 56px;
	}
}
